h1 {
  color: rgb(255, 145, 2);
  background-color: purple;
  font-size: xx-large;
  font-weight: 900;
}
h2 {color: blueviolet;
font-size:x-large;
font-weight: 800:
}
.b1 {
  background-color: Black;
  font-size: large;
  font-weight: 600;
}
li {
  color:blue;
  font-size: medium;
  font-weight: 400;
}
